
 @media screen and (max-width:720px)
{
    .main-container
    {
        margin-left: auto;
        margin-top: -25%;
        
    }
    .card-container
    {
        height: 200px;
        width: 200px;
        background-color: antiquewhite;
    }
} 

@media screen and (max-width:500px)
{
    .main-container
    {
        height: 350px;
        width: 350px;
        margin-left: -10%;
        margin-top: -35%;
        
    }
    .card-container
    {
        height: 350px;
        width: 350px;
        background-color: antiquewhite;
    }
} 

@media screen and (max-width:320px)
{
    .main-container
    {
        margin-left: 10%;
        margin-top: -60%;
        
    }
    .card-container
    {
        background-color: antiquewhite;
    }
} 


body
{
    background-color:beige;
}
.main-container
{
    display: grid;
    position: absolute;
    left: 50%;
    transform: translate(-50%,50%);
}
.card-container
{
    display: grid;
    width: 500px;
    height: 400px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    
}
#txt
{
    width: 400px;
    height: 50px;
    text-align: right;
    font-size: large;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 5px;
}
.box-container
{
    display: flex;
    gap: 20px;

}
.box-container > input
{
    height: 50px;
    width: 60px;
    font-weight: bold;
}


